*{
  margin: 0;
  padding: 0;

}body {
  background-color: powderblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .wrapper{
    margin: 60px;
  }
  .wrapper h1{
    font-size: 40px;
    color: #333;
    margin-bottom: 60px;
    font-weight: bold;
    text-align: center;
    font-family: verdana;
    }
  .wrapper h1:after{
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 4px;
  background: #333;
  right: 685px;
  border-radius: 3px;
  }


nav{
  width: 100;
  height: 100px;
  background-color: #fff;
}
ul{
  margin-left: 550px;
}
ul li{
  list-style: none;
  display: inline-block;
  line-height: 100px;
}
ul li a {
  display: block;
  text-decoration-line: none;
  font-size: 14;
  font-family: Verdana;
  color: #1e1e1e;
  padding:0 20px;
}
ul li a:hover {
  color: #0880a4;
  background-color: powderblue;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.sunway{
display: flex;
}  
.student .column {
float: left;
width: 250px;
padding: 0 16px;  
height: 250px
}

.student .row {margin: 0 70px;}
.student .row:after {
content: "";
display: table;
clear: both;
margin-bottom: 10px;
}

.student .card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
height: 250px;
margin-bottom: 10px;
border-radius: 18px;
}
.pro-con .column {
float: left;
width: 600px;
padding: 0 10px;
height: 250px;
margin-bottom: 1px;
}

.pro-con .row {margin: 0 20px;}
.pro-con .row:after {
content: "";
display: table;
clear: both;
}

.pro-con .card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: left;
background-color: #f1f1f1;
height: 155px;
margin-top: 30px;
border-radius: 18px;

}
.summary .column {
float: left;
width: 1200px;
padding: 0 10px;
height: 120px;
margin-bottom: 100px;
}

.summary .row {margin: 0 -5px;}
.summary .row:after {
content: "";
display: table;
clear: both;
}

.summary .card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 30px;
text-align: left;
background-color:rgb(236, 236, 168);
height: 120px;
margin-top: 1px;
border-radius: 18px;
margin-bottom: 100px;
}